<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="nlog.log"
      internalLogLevel="Error"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <targets>
    <target xsi:type="File"
            name="f"
            fileName="${basedir:dir=Logs}\${cached:cached=true:inner=${replace:searchFor=.:replaceWith=_:inner=${filesystem-normalize:fSNormalize=True:inner=${machinename} ${shortdate} ${time}}}}.log">
      <layout xsi:type="CsvLayout"
              delimiter="Custom"
              customColumnDelimiter="~"
              quoting="Nothing">
        <column name="EventDateTime"
                layout="${shortdate} ${time}"/>
        <column name="EventLevel"
                layout="${pad:padding=5:inner=${level:uppercase=true}}"/>
        <column name="EventMsg"
                layout="${replace:searchFor=\\r\\n:replaceWith=%CRLF%:regEx=True:inner=${message}}"/>
        <column name="EventException"
                layout="${replace:searchFor=\\r\\n:replaceWith=%CRLF%:regEx=True:inner=${exception:format=ToString}}"/>
        <column name="EventLogger"
                layout="${logger}"/>
        <column name="EventID"
                layout="${pad:padCharacter=0:padding=10:fixedLength=True:inner=${counter}}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="f"/>
  </rules>
</nlog>